@{
    ViewBag.Title = "About";

    string msgT3H = "Xin chào các bạn học viên của viên đào tạo T3H";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<h2>@msgT3H</h2>
